
@model IndexViewModel

@{
    ViewData["Title"] = "News journal";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We Have:</p>
    <div class="col-md-4 offset-md-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-info">Articles: @Model.NewsAdCount</li>
            <li class="list-group-item bg-info">Total Categories: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Total Views: @Model.TotalViews</li>
            <li class="list-group-item bg-info">Total Coments: @Model.TotalComments</li>
        </ul>
    </div>
</div>

