
@model IndexViewModel

@{
    ViewData["Title"] = "News journal";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We Have:</p>
    <ul>
        <li>Articles: @Model.NewsAdCount</li>
        <li>Total Categories: @Model.CategoriesCount</li>
        <li>Total Views: @Model.TotalViews</li>
    </ul>
</div>

