@model CreateNewsAdInputModel

<h1>Inform the World!</h1>
<h4 class="text danger">Add you article here</h4>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title"  class="form-control"/>
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group row-cols-2 col-md-6">
        <label asp-for="NewsCategoryId">Article category</label>
        <select asp-for="NewsCategoryId" id="NewsCategories">
            @foreach (var newsCategory in Model.NewsCategories)
            {
                <option id="@newsCategory.Id" value="@newsCategory.Id">@newsCategory.Name</option>
            }
        </select>
    </div>
      <div class="form-group row-cols-2 col-md-6">
        <label asp-for="SpecificCategoryId">Sub Category</label>
        <select asp-for="SpecificCategoryId" id="SpecificCategories" onchange="GetValue()"></select>
    </div>
     <div class="form-group">
        <label asp-for="Images">Image</label>
        <input asp-for="Images" class="form-control">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label asp-for="Description">Content</label>
        <textarea asp-for="Description" class="form-control" class="form-control" placeholder="write here"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>



<script>
    const ID = $(document).ready(function() {
      $('#NewsCategories').change(function() {
        var selectedOptionId = $(this).children('option:selected').val();
      });
    });
    
    function GetValue() {
        const selectElement = document.getElementById("SpecificCategories");

        selectElement.addEventListener("change", function () {
            const selectedOptionValue = this.value;
            console.log(selectedOptionValue);
        });

    }

    $(document).ready(function () {
        $("#NewsCategories").change(function () {
            var NewsCategoriesID = $(this).children(":selected").attr("id");
            $.ajax({
                url: '/News/Create/RetunSpecificCategoriesAsJSON/' + NewsCategoriesID,
                type: "GET",
                data: { id: NewsCategoriesID },
                dataType: "json",
                success: function (subcategories) {
                    var subcategorySelect = $("#SpecificCategories");
                    subcategorySelect.empty();
                    $.each(JSON.parse(subcategories), function (index, subcategory) {
                        subcategorySelect.append(
                            $("<option>")
                                .attr("value", subcategory.Id)
                                .text(subcategory.Name)
                        );
                    });
                },
                error: function () {
                    alert('Error retrieving data.');
                }
            });
        });
    });

    //$(document).ready(function () {
    //    $('#NewsCategories').change(function () {
    //        var NewsCategoriesID = $(this).children(":selected").attr("id");
    //        $.ajax({
    //            url: '/News/Create/RetunSpecificCategoriesAsJSON/' + NewsCategoriesID,
    //            type: 'GET',
    //            dataType: 'json',
    //            data: { id: NewsCategoriesID },
    //            success: function (data) {
    //                var content = '';
    //                $.each(JSON.parse(data), function (index, item) {
    //                    content += '<option id="item.id" value="item.id">' + item.Name + '</option>';
    //                });
    //                $('#SpecificCategories').append(content);
    //            },
    //            error: function () {
    //                alert('Error retrieving data.');
    //            }
    //        });
    //    });
    //});
    //});

</script>

